<div class="panel-heading">
  <div class="panel-title">
    <ul class="">
      <li> 
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}">
          {{title}}&nbsp;  
        </a>
      </li>
      <li> 
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}">     
          {{artist}}&nbsp;   
        </a>
      </li>
      <li> 
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}">     
          {{album}}&nbsp;   
        </a>
      </li>
      <li> 
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}">     
          {{length}}&nbsp;    
        </a>
      </li>
    </ul>
  </div>
</div>
<div id="collapse{{id}}" class="panel-collapse collapse">
  <div class="panel-body">
    <p>
      some album cover here.
    </p>
    <p>
      <button id="queueBtn" class="btn btn-large btn-primary" type="button">Queue Song</button>
    </p>
  </div>
</div>